shexer-memory/*
!shexer-memory/*.html

ntriples

play/*
!play/*.csv
!play/*.ttl

qse/*
!qse/*/
qse/*/*
!qse/*/*.open.csv
!qse/*/*.closed.csv
!qse/*/*.ttl

shexer/*
!shexer/*.shex

shexer-bunch/*
!shexer-bunch/*/
shexer-bunch/*/*
!shexer-bunch/*/*.open.csv
!shexer-bunch/*/*.closed.csv
!shexer-bunch/*/*.ttl

shexer-memory/*
!shexer-memory/*.html

shexer-profile/*
!shexer-profile/*/
shexer-bunch/*/*
!shexer-profile/*/*.json

virtuoso

voicl/*
!voicl/*.csv
!voicl/*.ttl

void/*
!void/*.ttl