shexer-memory/*
!shexer-memory/*.html

ntriples

play/*
!play/*.csv
!play/*.ttl

qse/*
!qse/*/*.csv
!qse/*/*.ttl

shexer/*
!shexer/*.shex

shexer-bunch/*
!shexer-bunch/*/*.csv
!shexer-bunch/*/*.ttl

shexer-memory/*
!shexer-memory/*.html

shexer-profile/*
!shexer-profile/*.json

virtuoso

voicl/*
!voicl/*.csv
!voicl/*.ttl

void/*
!void/*.ttl